<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UET-SHOPING</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/product/product_list.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-sm-0" href="{{ url_for('get_categories', page=1)}}">
                    UET-SHOPING
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link " href="{{ url_for('get_categories', page=1)}}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_stores', page=1)}}">Stores</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            {% if 'user_id' in session %}
            <h2 class="border"> {{session['user_id'][-5:]}} </h2>  
            <form class="d-flex" action="{{ url_for('logout') }}">
                <button class="btn btn-outline-dark" type="submit">
                    Logout
                    <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                </button>
            </form>
            {% else %}

            <form class="d-flex" action="{{ url_for('login') }}" method="get">
                <button class="btn btn-outline-dark" type="submit" >
                    Login
                    <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                </button>
            </form>

            {% endif %}
            <!-- Right elements -->

        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/Banner.jpg') }}"
                    class="d-block w-100" alt="Wild Landscape" />
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
                </div>
            </div>
    </div>

    <!--Main layout-->
    <main>
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
                <!-- Container wrapper -->
                <div class="container-fluid">

                    <!-- Navbar brand -->
                    

                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">

                        <!-- Search -->
                        <div class="input-group">
                            <div class="form-outline" data-mdb-input-init>
                                <input type="search" id="searchInput" name="keyword" class="form-control" placeholder="search product..."/>
                            </div>                            
                            <div class="btn btn-primary" onclick="search()" data-mdb-ripple-init>
                                Search
                            </div>
                        </div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <!-- Link -->
                            <!-- <li class="nav-item acitve">
                                <a class="nav-link text-white" href="#">Price</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Rating</a>
                            </li> -->
                        </ul>

                    </div>
                </div>
                <!-- Container wrapper -->
            </nav>
            <!-- Navbar -->

            <!-- Products -->
            <section>
                <div class="text-center">
                    <div class="row">
                        {% if products|length == 0 %}
                            <h1>No Product Founds</h1>
                        {% endif %}
                        {% for p in products %}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card">
                                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                    data-mdb-ripple-color="light">
                                    <img src="{{ p.image_links[0]}}" style="width: 250px; height: 300px;"/>

                                    <div class="mask">
                                        <div class="d-flex justify-content-start align-items-end h-100">
                                            <h5><span class="badge bg-dark ms-2">{{ p.avg_rating }}/5.0</span></h5>
                                        </div>
                                    </div>
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body" style="height: 400px;">
                                    <a href="/category/{{ p.category }}" class="text-reset ">
                                        <p>{{ p.category }}</p>
                                    </a>
                                    <a href="/store/{{ p.store }}" class="text-reset ">
                                        <p>{{ p.store }}</p>
                                    </a>
                                    <h6 class="mb-3 price">${{ p.price }}</h6>
                                    <a href="/products/{{ p.asin }}" class="text-reset">
                                        <h5 class="card-title mb-2">{{ p.title }}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </section>

            <!-- Pagination -->
            {% set base_url = current_url.split('/')[2] %}
            {% set current_page = current_url.split('/')[-1] %}
            {% set param_value = current_url.split('/')[4] %}
            {% set param_type = current_url.split('/')[3] %}
            {% if current_page == "" %}
                {% set current_page = "1" %}
                {% set current_url = current_url + current_page%}
            {% endif %}
            {% set base_url = current_url.split('/')[:-1] | join('/') %}
            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="{{ base_url }}/1" aria-label="Previous">
                            <span aria-hidden="true">|&laquo</span>
                        </a>
                    </li>
                    <li class="page-item">
                        {% set prev_page = current_page|int - 1 %}
                        {% if prev_page < 1 %}
                            {% set prev_page = 1 %}
                        {% endif %}
                        <a class="page-link" href="{{ base_url}}/{{prev_page|string}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for p in range(current_page|int - 10, current_page|int) %}
                        {% if p > 0 %}
                            {% if p == current_page|int %}
                                <li class="page-item active"><a class="page-link" href="{{ current_url }}">{{ p }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link"
                                    href="{{ base_url}}/{{p|string}}">{{ p }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% for p in range(current_page|int, current_page|int + 10) %}
                        {% if p <= page_number %}
                            {% if p == current_page|int %}
                                <li class="page-item active"><a class="page-link" href="{{ current_url }}">{{ p }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link"
                                    href="{{ base_url}}/{{p|string}}">{{ p }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <p></p>
                    <li class="page-item">
                        {% set next_page = current_page|int + 1 %}
                        {% if next_page > page_number %}
                            {% set next_page = page_number %}
                        {% endif %}
                        <a class="page-link" href="{{ base_url}}/{{next_page|string}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ base_url}}/{{page_number|string}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;|</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Pagination -->
            {% if user %}
            <div class="container">
                <h1> Recommended Products based on your last rated item</h1>
                <section>
                    <div class="text-center">
                        <div class="row">
                            {% for p in user.get_recommendations() %}
                            <div class="col-lg-3 col-md-6 mb-4">
                                <div class="card">
                                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                        data-mdb-ripple-color="light">
                                        <img src="{{ p.image_links[0]}}" style="width: 250px; height: 300px;"/>
    
                                        <div class="mask">
                                            <div class="d-flex justify-content-start align-items-end h-100">
                                                <h5><span class="badge bg-dark ms-2">{{ p.avg_rating }}/5.0</span></h5>
                                            </div>
                                        </div>
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="card-body" style="height: 450px;">
                                        <a href="/category/{{ p.category }}" class="text-reset ">
                                            <p>{{ p.category }}</p>
                                        </a>
                                        <a href="/store/{{ p.store }}" class="text-reset ">
                                            <p>{{ p.store }}</p>
                                        </a>
                                        <h6 class="mb-3 price">${{ p.price }}</h6>
                                        <a href="/products/{{ p.asin }}" class="text-reset">
                                            <h5 class="card-title mb-2">{{ p.title }}</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </section>
            </div>
            {% endif %}
        </div>
    </main>
    <script src="{{url_for('static', filename='js/product/product_list.js')}}"></script>
    <!--Main layout-->
</body>

</html>